.footer-container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.form-container {
	width: 100%;
}

.scroll {
	width: 5px;
	height: 10px;
	border-radius: 10px;
	background-color: rgb(105, 127, 255);
	box-shadow: 0px 0px 10px rgb(105, 127, 255);
	animation: scroll_4013 2s linear infinite;
	transform: translateY(40%);
}

#scrollToTopBtn:after {
	position: absolute;
	top: 140%;
	color: whitesmoke;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

@keyframes scroll_4013 {
	0% {
		transform: translateY(40%);
	}

	50% {
		transform: translateY(90%);
	}
}

#scrollToTopBtn {
	display: none;
	position: fixed;
	bottom: 45px;
	right: 20px;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	outline: 2px solid rgb(105, 127, 255);
	box-shadow: 0px 0px 10px rgb(105, 127, 255);
	border-radius: 30px;
	cursor: pointer;
	width: 30px;
	height: 50px;
	transition: background-color 0.3s, opacity 0.3s;
}


#scrollToTopBtn.show {
	display: flex;
	opacity: 0.7;
}

@media screen and (min-width: 768px) {
	.form-container {
		width: 70%;
	}
}
